	body {
        margin: 0;
        padding: 0;
        background-color: #101010;
        font-family: 'M PLUS 1 Code', monospace;

    }

    header {
        height: 60px;
        background-color: #553674;
        display: flex;
        font-family: 'Audiowide', sans-serif;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
    }

    .header-left {
        display: flex;
        align-items: center;
        margin-left: 60px;
    }

    .header-right {
        display: flex;
        align-items: center;
        margin-right: 60px;
    }

    .header-link {
        color: black;
        text-decoration: none;
        margin-right: 30px;
    }

    a.header-link:hover {
        color: rgb(9, 232, 31);
        -webkit-mask-image: linear-gradient(-90deg, rgba(23, 225, 16, 0.496) 10%, #17e1107e 35%, rgba(23, 225, 16, 0.827) 90%);
        -webkit-mask-size: 200%;
        animation: shine 2s infinite;
      }
  
      @-webkit-keyframes shine {
        from {
          -webkit-mask-position: 150%;
        }
  
        to {
          -webkit-mask-position: -50%;
        }
      }
    .quantity {
        color: black;
        margin-right: 10px;
    }

    .image-icon {
        width: 20px;
        height: auto;
        margin-right: 10px;
    }

    .search-box {
        border: none;
        background: transparent;
        color: white;
        font-size: 14px;
        padding: 5px;
    }
    
    footer {
        background-color: #553674;
        height: 42px;
        text-align: center;
        font-family: 'Audiowide', sans-serif;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
	
    .image-slider {
        width: 100%;
        height: 520px;
        overflow: hidden;
        position: relative;
    }

	.slide {
		display: flex;
		align-items: center;
		justify-content: flex-end; 
	}

    .slide img {
        width: 40%;
        height: auto;
		margin-right: 150px;
    }

    .slide-text {
        width: 30%;
        padding: 10px;
        color: white;
		margin-left: 150px;
    }
	
	.slide-text h2 {
		color: #8F22A1;
    }

    .shpbttn {
        margin-top: 20px;
    }

    .shop-button {
        background-color: #8F22A1;
        color: white;
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 5px;
        font-weight: bold;
    }

	.category-section {
        margin-bottom: 35px;
		text-align: center;
		padding: 30px 0;
		background-color: #101010;
	}

	.category-section h2 {
		color: #8F22A1;
		font-size: 42px; 
		font-family: 'Public Sans', sans-serif; 
	}

	.category-section p {
		color: white;
		font-size: 21px;
        margin-bottom: 30px;
	}

    .category-section a{
        margin-top: 50px;
    }

	.categories {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 60px;
	}

    .categories a{
        text-decoration: none;
    }

	.category {
        width: 300px;
        height: 300px;
		text-align: center;
		margin: 0 20px;
	}

	.category img {
        margin-top: 20px;
		width: 240px;
		height: 240px;
	}

	.category h3 {
		color: white;
		font-size: 24px;
		margin-top: 2px;
	}

    .category1,
    .category2,
    .category3 {
        width: 300px;
        height: 300px;
		text-align: center;
		margin: 0 20px;
	}

    .category2 {
        height: 325px;
    }

    .category1 {
        margin-top: 90px;
    }

    .category2 {
        margin-bottom: 50px;
    }

    .category3 {
        margin-top: 100px;
    }

	.category1 img,
    .category2 img,
    .category3 img {
        margin-top: 20px;
		width: 240px;
		height: 240px;
	}

	.category1 h3,
    .category2 h3,
    .category3 h3 {
		color: white;
		font-size: 24px;
		margin-top: 2px;
	}
	
    .gray-line {
        border: none;
        border-top: 2px solid #8888884b; 
        width: 90%; 
        margin: 0 auto; 
    }

	.shop2-button {
		background: transparent;
		color: white;
		border: 2px solid #8F22A1;
		padding: 10px 20px;
		text-decoration: none;
		border-radius: 8px;
		font-weight: bold;
	}
	
    .parent {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        z-index: 1;
      }
      
      .Box {
        width: 80%; 
        height: 480px; 
        background-color: #101010; 
        margin-top: 30px;
        margin-left: 125px;
      }

      .Box1 {
        
        width: 70%; 
        height: 480px; 
        background-color: #101010; 
        margin-top: 30px;
        margin-left: 20px;
        
      }
      
    
    .child {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 10px;
        
    }
    
    .box {
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.08);
        padding: 20px;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: transform 0.3s ease; 
    }
    
    .box:hover {
        transform: scale(1.1); 
    }
    
    .box img {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 2; }
    .div2 { grid-area: 1 / 2 / 2 / 3; }
    .div3 { grid-area: 2 / 1 / 3 / 2; }
    .div4 { grid-area: 2 / 2 / 3 / 3; }
    
    .ttitle {
        font-size: 50px;
        font-family: 'M PLUS 1 Code', monospace;
        background: linear-gradient(90deg, rgba(221, 13, 255, 1) 0%, rgba(28, 24, 221, 0.69) 50%, rgba(0, 179, 93, 1) 100%);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }

    .adetail {
        margin-top: 15px ;
        font-size: 17px;
        font-family: 'M PLUS 1 Code', monospace;
    }

    .container {
        display: flex;
        font-family: 'M PLUS 1 Code', monospace;
        margin-left: 80px;
        margin-right: 80px;
      }
  
      .box-dv1 {
        color: whitesmoke;
        flex: 3; 
        padding: 20px;
        margin: 0px 10px 10px 10px;
      }

      .box-dv2 {
        color: whitesmoke;
        flex: 1;
        padding: 20px;
        margin: 10px;
      }
      
      .box-dv1 h1 {
        font-size: 38px;
        color:rgba(221, 13, 255, 1);
        margin-bottom: 30px;
      }
      
      .box-dv1 p{
        font-size: 19px;
        color: rgba(255, 255, 255, 0.63);
        margin-bottom: 25px;
      }

      .box-dv2 p{
        font-size: 18px;
        color: rgba(255, 255, 255, 0.63);
      }

      .box-dv2 h2{
        margin-top: 2px;
        font-size: 29px;
        color:rgba(221, 13, 255, 1);
      }

      .input-container {
        margin-top: 10px;
        border: 3px solid;
        border-image: linear-gradient(to right, rgb(197, 10, 203), #2195f361, rgb(197, 10, 203));
        border-image-slice: 1;
        padding: 5px;
        display: flex;
        justify-content: space-between;
      }

      .input-container input {
        flex: 2;
        padding: 8px;
        margin-right: 5px;
        background-color: transparent;
        border: none;
        color: whitesmoke;
      }
  
      .input-container button {
        padding: 3px;
        font-size: 20px;
        background: linear-gradient(to right, #e607d7, rgb(17, 142, 153));
        color: transparent;
        border: none;
        cursor: pointer;
        background-clip: text;
      }

    .cardd {
        width: 262px;
        height: 310px;
        background-image: linear-gradient(150deg, #00ff75 0%, #fb00ff 50%, #3700ff 100%);
        border-radius: 20px;
        transition: all .3s;
        margin: 10px; 
    }
    
    .cardd2 {
        width: 262px;
        height: 310px;
        background-color: #101010;
        transition: all .2s;
    }
    
    .cardd2:hover {
        transform: scale(0.98);
        border-radius: 20px;
    }
    
    .cardd:hover {
        box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
    }

    .cardd1 {
        width: 262px;
        height: 330px;
        background-image: linear-gradient(150deg, #00ff75 0%, #fb00ff 50%, #3700ff 100%);
        border-radius: 20px;
        transition: all .3s;
        margin: 10px; 
    }
    
    .cardd22 {
        width: 262px;
        height: 330px;
        background-color: #101010;
        transition: all .2s;
    }
    
    .cardd22:hover {
        transform: scale(0.98);
        border-radius: 20px;
    }
    
    .cardd1:hover {
        box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
    }

    